*.iml
.gradle
/local.properties
.idea
.DS_Store
gradle.properties
/build
/captures
.externalNativeBuild
app/bakApk
uikit/build
*.apk
AlivcMedia/build
AliyunCrop/crop_demo/build
AliyunEditor/editor_demo/build
AliyunFileDownLoader/downloadermanager/build
AliyunRecorder/record_demo/build
AliyunSVideoBase/build
AliyunSvideoMusic/build
AliyunVideoCommon/build
PictureSelectorLib/build
ucrop/build

